<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>

<body>
    <%- include('includes/navbar') %>
    
    <main id="main">
        <%- include('includes/works') %>
    </main>

    <footer>
        <%- include('includes/footer') %>
    </footer>

    <%- include('includes/scripts') %>
  
</body>
</html>